{% extends "secondary.html" %}

{% load static %}

{% block page-title %}About{% endblock page-title %}

{% block content %}
<div class="row">
    <div class="col">
        <p><img src="{% static 'images/band1.jpg' %}" class="img-fluid"></p>
        <p>Occupying a vector between Radiohead and Black Sabbath, <strong><em>Blue Shift</em></strong> was a band that was here, then gone, and now here again.</p>

        <p><strong><em>Blue Shift</em></strong> originally coalesced into being around 1992, forming out of a series of unauthorized jams at University of Toronto’s Innis College.  The original founding members were <strong>Loren Davie</strong> (lead vocals, keys), <strong>Mike Klinowski</strong> (bass), <strong>Braz King</strong> (guitar), and <strong>Dylan de la Riviere</strong> (drums).</p>

        <p>Soon Braz left the band and was replaced by new guitarist <strong>Michael Milanetti</strong>.  Later Dylan departed and the drummer's throne passed to <strong>Michael "Poots" Pootmans</strong>. This lineup was constant through the early 90’s, and <strong><em>Blue Shift</em></strong> rocked hard, playing many venues and making two recordings.</p>

        <p>But then the band came to an end, as many things do.  In 1999 Loren moved away from Toronto, eventually finding his way to New York, and it seemed like the band was a thing of the past...</p>

        <p>Until now.  Loren has come back, now playing guitar, and he, Mike Klinowski and Michael Milanetti have reformed the band into a new quirky, heavy powerhouse. With new drummer <strong>Marco Ruggiero</strong>, <strong><em>Blue Shift</em></strong> is back to bend your reality.</p>
        <hr/>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h2>Who's Who</h2>
        <img src="{% static 'images/loren.jpg' %}" class="img-fluid float-left mr-3">
        <h3>Loren Davie</h3>
        <p class="text-muted">Lead vocals, guitars, synth-like things...</p>
        <p>Loren vaguely remembers making up songs as a small child, basically about the same time as he learned to walk and talk. He comes from a musical family, where everyone's passion for music is only matched by their distaste for each others' genre choices. Loren grew up playing music throughout school, always singing and at various times playing piano, trombone and guitar. He graduated Harris Institute's Producing / Engineering Program.</p>
        <p>Loren has been in several indie bands in Toronto and New York, including Bridges Burning, the Archetones and the Crawlin' Crawdads. He had a short lived career as a mastering engineer before the Internet stole him. Besides albums with his bands, he as also released two solo albums (<em>Son of the Sun</em> and <em>Seize</em>), and a very long one-song collaboration with Michael Milanetti (<em>Prometheus</em>).</p>
        <p>Loren has seen some shit.</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <img src="{% static 'images/klinowski.jpg' %}" class="img-fluid float-left mr-3">
        <h3>Mike Klinowski</h3>
        <p class="text-muted">Bass, vocals</p>
        <p>"Dee Dee Ramone" would have been the answer Klinowski gave when questioned about influences, for many years. But of course it's more complicated than that. Mike lives at a strange intersection of 70s punk rock, 80s cheese metal, and Kate Bush.  Doesn't make sense? Too bad. This is Mike Fucking Klinowski we're talking about, and he doesn't give a shit whether it makes sense to you or not.</p>
        <p>Also a Harris Institute Producing / Engineering grad, Mike was a founding member of the Dead Lemmings (spawning ground for future Do Make Say Think / Broken Social Scene members) and Like Heroes, a band he had with Michael Milanetti. Mike is also a talented producer, guitar tech, creator of weird franken-amps and other creative endeavours.  In his spare time he smokes cheese.  (Insert joke about trying to roll a cheese joint here.)</p>
        <p>Mike Klinowski has several ideas on how you could improve.</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <img src="{% static 'images/milanetti.jpg' %}" class="img-fluid float-left mr-3">
        <h3>Michael Milanetti</h3>
        <p class="text-muted">Guitars, vocals</p>
        <p>Someone has to hold up the Black Sabbath end of our musical spectrum, and Milanetti is the man for it. Don't let the "dad-vibe" fool you. Richard Linklator's <em>Dazed and Confused</em> movie was basically written about Milanetti's mis-spent youth. On the other hand, there was a time when Milanetti was the only member of the band that could keep us on any sort of schedule.</p>
        <p>Milanetti cites guys like Mick Ronson and Joe Bonamassa as influences, while dialing in a bit of Rage Against the Machine for balance. It's not so much that he's more "normal" than the other members of the band, it's just that the weirdness is more subtle with him. He also grows hot peppers and drives too fast.</p>
        <p>Michael Milanetti is doing just dandy.</p>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col">
        <img src="{% static 'images/marco.jpg' %}" class="img-fluid float-left mr-3">
        <h3>Marco Ruggiero</h3>
        <p class="text-muted">Drums</p>
        <p>At age 14, Marco inherited his father's <strike>lightsaber</strike> drums. A third generation musician, and drumming since he was 11, Marco started playing with original groups, eventually becoming the drummer for The Beggers (the house band at the Hideout) from 2007 to 2014. (He was never in a band called the Choosers for obvious reasons.)</p>
        <p>Marco is influenced by late 60's/early 70's rock, jazz and progressive music, and cites Michael Shrieve (Santana) and Ian Paice (Deep Purple) as the drummers that originally <strike>turned him to the dark side</strike> got him into drumming.</p>
        <p>Marco collects and restores drums in his spare time, and keeps reassuring us that he's a family man. We assume that means he has a secret identity of some sort.</p>
        <p>Marco is absolutely, positively not a secret Sith Lord.</p>
        <p><small class="text-muted">All bad Star Wars jokes property of Disney Intergalactic Media Enterprises Incorporated Limited Corporation. Please don't sue us.</small></p>
    </div>
</div>
{% endblock content %}