@font-face {
font-family: 'Azonix Regular';
font-style: normal;
font-weight: normal;
src: local('../fonts/Azonix Regular'), url('../fonts/Azonix.woff') format('woff');
}


h1 {
    font-family:'Azonix Regular';
    font-size:80px;
    color:#005493;
}

h2 {
    font-family:'Azonix Regular';
}

.btn-primary {
    background-color: #005493;
    border-color: #005493;
}

a {
    color: #005493;
}

pre {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}